* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  overflow: hidden;
  box-shadow: 4px 7px 7px #808080;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
}

/* hamburger  */
.divDrawer {
  margin-left: 2%;
}

.MuiPaper-root {
  /* color: white !important; */
  background-color: rgb(219, 224, 235) !important;
}
.MuiTypography-root {
  font-weight: 900 !important;
}
.listDrawer {
  font-weight: bold;
}
.listDrawer hr {
  width: 90%;
  margin: auto;
}
.divDrawer button {
  display: flex;
  flex-direction: column;
}
.hamburger {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 2px;
}
/* LOGO  */
.logo a {
  text-decoration: none;
  color: black;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 20px;
}
.logo i {
  color: rgb(126, 169, 233);
}

/* SEARCH BAR  */
.searchBar {
  width: 30%;
}
#search {
  width: 90%;
  border: none;
  background-color: white;
  border-bottom: 1px solid gray;
  padding: 2%;
}
#search:focus {
  outline: none;
}

/* CART  */
.cart {
  margin-right: 3%;
}
.cart i {
  color: black;
  font-size: large;
  position: relative;
}
.cart i #num {
  font-size: 10px;
  padding: 20%;
  background-color: #555454;
  border-radius: 50%;
  position: absolute;
  color: white;
  top: -7px;
}


@media (max-width: 505px){
  .searchBar {
    width: 50%;
  }
  .cart {
    margin-right: 5%;
  }

}